@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hongjian Su</h1>
    <p class="lead">All cutting-edge technologies are my favorite. I mean all of them! So, don't let me find you. :)</p>
    <p><a href="https://hongjianstorage.blob.core.chinacloudapi.cn/testcontainer/工作CV-苏洪舰（Eng）.pdf" class="btn btn-primary btn-lg">See my resume &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Software Copyright</h2>
        <p>
            —“Weifan Information Management System”
        </p>
        <p><a class="btn btn-default" href="https://hongjianstorage.blob.core.chinacloudapi.cn/testcontainer/软件著作权-苏洪舰 .pdf">Certificate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Patent</h2>
        <p>—“Construction of Logistics Data Management Platform for Automotive Upstream and Downstream Industry”</p>
        <p><a class="btn btn-default" href="https://hongjianstorage.blob.core.chinacloudapi.cn/testcontainer/发明专利受理书-苏洪舰.jpg">Certificate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My MCM/ICM Competition</h2>
        <p>—“Self-driving, cooperating cars can help relief traffic congestion”</p>
        <p><a class="btn btn-default" href="https://hongjianstorage.blob.core.chinacloudapi.cn/testcontainer/70870.pdf">Thesis &raquo;</a></p>
    </div>
</div>